# $Id$
RewriteEngine on
RewriteRule     ^static(.*)$      -                  [L]
RewriteRule   	^robots.txt$      -                  [L]
RewriteRule	^index.php$	-	[L]
RewriteRule	!\.(gif|jpg|png|css|misc)$	index.php
RewriteRule	.*	index.php