ErrorDocument 404 /error/404
Options +MultiViews +Indexes

AddType text/xml rss ffkar soap tb tbrss wsdl xss
AddType text/plain txt esf
AddType application/xhtml+xml xhtml
AddType application/rss+xml rss2 rss
AddType application/rdf+xml rdf
AddType application/x-netcdf cdf

RewriteEngine on
RewriteRule     ^static(.*)$      -                  [L]
RewriteRule   	^robots.txt$      -                  [L]
RewriteRule	^index.php$	-	[L]
RewriteRule	!\.(gif|jpg|png|css|misc)$	index.php
RewriteRule	.*	index.php
